@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
figure {
    padding: 0;
    margin: 0;
}

.mainHeader {}

.mainHeader .hdrImg {
    margin: 0;
}

.mainHeader .hdrImg img {
    width: 100%
}





.mainBody {}

.mainBody .sliderArea {
    margin-top: 0.5em;
}

.mainBody .sliderArea .carousel-item {
    height: 450px;
    
}
.mainBody .sliderArea #siteSlider{
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);
}
.mainBody .sliderArea .carousel-caption {
    position:absolute;
    background:rgba(0,0,0,0.4);
    left:0;
    right:0;
    bottom:0;
    padding-bottom: 2em;
}
.mainBody .sliderArea .carousel-control-prev,
.mainBody .sliderArea .carousel-control-next {
    width: auto;
    opacity: 1;
}
.mainBody .sliderArea .carousel-indicators{margin-bottom: 0;}
.mainBody .sliderArea .carousel-control-prev {}

.mainBody .sliderArea .carousel-control-next {}

.mainBody .sliderArea .carousel-control-prev span,
.mainBody .sliderArea .carousel-control-next span {
    font-size: 2em;
    background: none;
    display: block;
    height: 45px;
    width: 45px;
    background: #40a14c;
}

.mainBody .sliderArea .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.siteLeftNav {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #8fc400 0%,#8fc400 100%);
}

.siteLeftNav .nav-link {
    color: #fff;
}

.siteLeftNav .navbar {
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.siteLeftNav .navbar-nav {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.siteLeftNav .navbar-collapse {
    height: 100%;
}

.siteLeftNav .nav-item {
    display: block;
    flex: auto;
}

.siteLeftNav .nav-link {
    padding: .5em 1em;
    border-right: 0.3em solid #34A65F;
    height: 100%;
    font-size: 1em;
    display: flex;
    align-items: center;
    transition: .2s;
    justify-content: space-between;
}
.innerContent .siteLeftNav .nav-link {
    padding: 1em 2em;
}

.siteLeftNav .nav-link:hover {
    background: #34A65F;
}

.siteLeftNav .dropdown-toggle {
    position: relative;

}

.siteLeftNav .dropdown-toggle:after {
    border: none;
    vertical-align: middle;
    margin-bottom: 0.25em;
    font-family: FontAwesome;
    content: "\f054";
}

.siteLeftNav .dropdown-menu {
    left: 100%;
    top: 0;
    background: #34a65f;
    color: #fff;
    border-radius: 0;
    border: 0;
}

.siteLeftNav .dropdown-item {
    color: #fff;
}
   
.siteLeftNav .dropdown-item:hover {color: #004000;}
.siteLeftNav .navbar-toggler {
    border: 1px solid #167231;
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 1.3em;
    color: #fff;
    background: #167231;
}

.siteTopNav {
    margin: .5em 0
}

.siteTopNav .navbar-toggler {
    border: 1px solid #333;
}

.siteTopNav .navbar-toggler {
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 1.3em;
}

.siteTopNav .navbar {
    padding: 0;
}

.siteTopNav .navbar-nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.siteTopNav .navbar .nav-item {
    flex: auto;
    border-bottom: 4px #aaa solid;
    margin-right: 1px;
}

.siteTopNav .navbar .dropdown-menu {

    right: auto;
    left: 10%;
    background: #198c19;
    color: #fff;
}

.siteTopNav .navbar .dropdown-menu .dropdown-item {
    color: #fff;
    border: none;
    padding: .5em 1em;
    background: #7abc32;
    border: none;
}

.siteTopNav .navbar .dropdown-menu {
    padding: 0;
    border-radius: 0;
    border: 0;
    right: 0;
    left: 0;
}

.siteTopNav .navbar .dropdown-menu .dropdown-menu {
    position: absolute;
    left: 100%;
    bottom: auto;
    top: -.05em;
    right: auto;
}

.siteTopNav .navbar .nav-item {
    border: none;
}

.siteTopNav .navbar .nav-link {
    color: #fff;
    box-shadow: inset 0 2em 1em -0.5em #198c19;
    background: #004000;
    text-transform: uppercase;
    font-size: 1em;
    width: 100%;
    display: block;
    text-shadow: 0 -1px 0 #000;
    letter-spacing: 1px;
    padding: 0.75em 1.25em;
    transition: .2s;
}

.siteTopNav .navbar .nav-link:hover {
    box-shadow: inset 0 -2em 1em -0.5em #198c19;
}

.siteTopNav .navbar .dropdown-item:hover {
    background: #e4e4e4;
    color: #333;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.topBar {

background: #c2e8ce;

padding: .25em 0;

background: linear-gradient(to bottom, #dcf2e2 0%,#c2e8ce 37%,#9cd1ac 100%);
}

.topBar #datetime {
    color: #177833;
    font-size: 1.25em;
    padding: 0 1em;
}

.topBar .fontSize {
    display: flex;
    align-items: center;
}

.topBar .fontSize>a {
    color: #f00;
    font-size: 0.9em;
}

.topBar .fontSize ul {
    margin-left: 1em;
}

.topBar .fontSize ul li {
    list-style: none;
    display: inline-block;
}

.topBar .fontSize ul li a {
    background: #fff;
    border: 1px solid #333;
    padding: .2em;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    color: #333;
    border-radius: .25em;
}

.topBar .adminArea {}

.topBar .adminArea ul {
    display: flex;
    justify-content: space-around;
}

.topBar .adminArea ul li {
    list-style: none;
}

.topBar .adminArea ul li a {
    color: red;
    font-size: .9em;
}

.topBar .searchArea {}

.topBar .searchArea .input-group {}

.nyBox {
    background: #fff;
    height: 450px;
    overflow: hidden;
    border-bottom: 20px solid #ffffff;
    border-radius: 1em;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);
}

.nyBox .nbHeader {
    background: #40a14c;
    border-radius: 1em 1em 0 0;
    padding: 0.75em 0;
    text-align: center;
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
}

.nyBox .nbHeader h4 {
    color: #fff;
    line-height: 1em;
    font-size: 1.5em;
}

.nyBox .nbBody {
    padding: 1em;
    height: 100%;
}
.nyBox .nbBody marquee{
    height:100%;
}
.nyBox .nbBody ul {
    width: 100%;
    margin: 0;
    right: 0;
    left: 0;
}

.nyBox .nbBody li {
    width: 100%;
    margin: 0!important;
    height:auto!important;
    list-style:none;
    padding: 1em 2.5em!important;
    position:relative;
    border-bottom: 1px solid #ccc;
}
.nyBox .nbBody li:after {
    content:'';
    height: 25px;
    width: 25px;
    left: 0.5em;
    position:absolute;
    background:#40a14c;
    top:0;
    bottom:0;
    margin:auto;
    
    background: url('https://ss-lp-uploads.s3.amazonaws.com/8cddba54-407c-4bec-aa95-a00ac3e9a703.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.siteFooter {}

.siteFooter .footerInfo {
    background: #ffffb2;
    padding: 1em 0;
}

.siteFooter .footerInfo .fLinks {}

.siteFooter .footerInfo .fLinks ul {}

.siteFooter .footerInfo .fLinks li {
    display: inline-block;
    position: relative;
    padding: 0 .25em
}

.siteFooter .footerInfo .fLinks li:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background: #9e9e48;
    right: -.15em;
    top: 0;
}

.siteFooter .footerInfo .fLinks li:last-child:after {
    display: none;
}

.siteFooter .footerInfo .fLinks li a {
    color: red;
}

.siteFooter .copyRight {
    text-align: center;
    background: url(../img/footer_bg.png) repeat-x;
    text-align: center;
    color: #137f74;
    padding: 1em 0;
}

.aboutArea {
    margin-top: 2em;
    margin-bottom: 2em;
}
.linkArea{
}
.smBox {
    border-radius: 1em;
    height: 100%;
    text-align: right;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);
    background: #fff;
}

.smBox .smHeader {
    background: #40a14c;
    padding: 0.75em 1em;
    text-align: center;
    border-radius: 1em 1em 0 0;
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
}

.smBox .smHeader h4 {
    color: #fff
}

.smBox .smBody {
    padding: 1em;
    text-align: right;
}

.smBox.vTicker .smBody {
    text-align: left;
    padding: 0;
}

.smBox .smBody #vertical-ticker ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

.smBox .smBody #vertical-ticker li {
    text-align: left;
    padding: .5em 1em !important;
    border-bottom: 1px solid #eee;
    position: relative
}

.smBox .smBody #vertical-ticker li a {
    text-align: right;
    display: block;
}

.smBox .smBody figure {
    margin-bottom: 1em;
    height: 200px;
}

.smBox .smBody figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moreBtn {
    background: #40a14c;
    color: #fff;
    padding: .25em 1em;
    display: inline-block;
    border-radius: .3em;
    border: 0;
    transition: .2s;
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
}

.moreBtn:hover {
    background: #004000;
    color: #fff;
    text-decoration: none
}

.bigBox {
    
border-radius: 1em;
    
padding: 1.5em;
    
box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);
    
background: #fff;
}

.bigBox .bbHeader {}

.bigBox .bbBody {}

.bigBox .bbBody h3 {
    margin-bottom: 1em;
    color: #40a14c;
}

.bigBox .bbBody .bbDesc {}

.bigBox .bbBody .bbDesc .bbImg {
    width: 250px;
    display: block;
    float: left;
    margin-right: 1em;
    height: auto;
}

.bigBox .bbBody .bbDesc .bbImg img {
    width: 100%;
}

.bigBox .bbBody .bbDesc p {}

.bigBox .bbBody .bbDesc p span {
    margin-bottom: 1em;
    display: block;
}

.bigBox .bbBody .bbDesc p span:last-child {
    margin-bottom: 0;

}


.imgBox {
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);
    border-radius: 1em;
    overflow: hidden;
}

.imgBox .imBody {
    text-align: center;
    padding: 1em;
    vertical-align: middle;
}

.imgBox .imBody h4 {
    color: blue;
    margin-bottom: 1em;
}

.imgBox .imBody img {
    width: 100%;
}

.miniBox {height: 300px;border-radius: 1em;overflow: hidden;box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);background: #fff;}
.icarAbout .miniBox {
    margin-top: 0;
    margin-bottom:1em;
    height: auto;
}
.miniBox .mbHeader {
    background: #40a14c;
    padding: 0.75em 0;
    text-align: center;
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
}

.miniBox .mbHeader h4 {
    color: #fff;
}

.miniBox .mbBody {
    padding: 1em;
    position: relative!important;
}

.miniBox .mbBody .suggestForm {
    text-align: right;
}

.miniBox .mbBody .suggestForm .moreBtn {
    margin-left: auto;
}

.miniBox .mbBody .suggestForm .form-group {
    display: flex;
    align-items: center;
}

.miniBox .mbBody .suggestForm .form-group label {
    margin-right: 2em;
}

.miniBox .mbBody .suggestForm .form-group .form-control {}

.miniBox .mbBody #vertical-ticker ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

.miniBox .mbBody #vertical-ticker li {
    text-align: left;
    padding: .5em 1em !important;
    border-bottom: 1px solid #eee;
    position: relative
}

.miniBox .mbBody #vertical-ticker li a {
    text-align: right;
    display: block;
}
.miniBox .mbBody .ttrLinks{position: relative!important;
    margin-top:.1em!important}
.miniBox .mbBody .ttrLinks li{list-style:none;height:auto!important;border-bottom: 1px solid #e0ff83;}
.miniBox .mbBody .ttrLinks li:last-child{
    boder:none;
}
.miniBox .mbBody .ttrLinks li a{color:#333;display:block;padding:.5em 0;color: #87b329;text-decoration: none;} 
.miniBox .mbBody .ttrLinks li a:hover{
    color:#333;
}
.miniBox .mbBody .qLinks {
    position: relative!important;
    margin-top: .1em!important;
}

.miniBox .mbBody .qLinks li {
    padding: 0.5em 0 !important;
    height: auto !important;
    position: relative;
    list-style: none;
    padding-left: 2em !important;
    text-align: left;
}

.miniBox .mbBody .qLinks li a{
    width:100%;
    text-align:left;
    display: block;
}

.miniBox .mbBody .qLinks li:before {
    content: url('https://www.computerhope.com/cdn/arrow.png');
    height: auto;
    position: absolute;
    left: 0;
}

.miniBox .mbBody .qLinks li a {
    color: #f00;
}

.miniBox .mbBody .impLinks {
    position: relative!important;
    margin-top: .1em!important;
}

.miniBox .mbBody .impLinks li {
    padding: .5em 0 !important;
    position: relative;
    padding-left: 2.5em !important;
    list-style:none;
    list-style: none;
    height: auto !important;
}

.miniBox .mbBody .impLinks li:before {
    content: '';
    height: 30px;
    position: absolute;
    left: 0;
    width: 30px;
    background: url('https://i.gifer.com/YxAd.gif');
    background-size: contain;
    background-repeat: no-repeat;
    top:0;
    bottom:0;
    margin:auto;
}

.miniBox .mbBody .impLinks li a {
    color: #333;
    text-decoration:None;
}
.miniBox .mbBody .impLinks li a:hover {
    color:#9aca1d
}
.galleryArea {
    padding: 2em 0;
}
.gaBox{height: 300px;border-radius: 1em;overflow: hidden;box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 10%);background: #fff;}
.gaHeader {
    background: #40a14c;
    padding: 0.75em 0;
    text-align: center;
    border-radius: 1em 1em 0 0;
    color: #fff;
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
}

.gaBody {
    border-radius: 0 0 1em 1em;
    text-align: center;
    min-height: 285px;
}

.gaBody a {
    display: block;
    padding: 3em;
}

.gaBody a img {
    width: 200px;
    transition: .2s
}

.gaBody a:hover img {
    transform: scale(1.1)
}


.innerBody {}

.innerBody .innerBanner {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.innerBody .innerBanner figure {
    width: 100%;
    position: relative;
    height: 100%;
}

.innerBody .innerBanner .bannerInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
}

.innerBody .innerBanner .bannerInfo h3 {
    margin-bottom: .25em;
    font-size: 2.5em;
}

.innerBody .innerBanner .bannerInfo p {}

.innerBody .innerBanner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.innerBody .innerContent {
}

.innerBody .icarTeam {
    padding: 3em 0;
}
.teamAll{
    text-align:center;
    padding: 1em;
}
.teamAll .container-fluid{background: #519d67;padding: 2em;}
.teamAll h2{
 margin-bottom: 1em;
 color: #434a45;
 border: 1px dotted;
 padding: 0.5em;
 background: white;
 font-weight: 700;
}
.teamBoy{
    /* border: 1px solid #ccc; */
    text-align: center;
    box-shadow: 0 0 7px rgb(0 0 0 / 20%);
    background: #fff;
    padding: 1em;
    margin-bottom: 2em;
}

.teamBoy figure{
    overflow: hidden;
    height: 275px;
    border: 1px solid #fff;
}
.teamBoy figure img{width:100%;height: 100%;object-fit: contain;}
.teamBoy .tyBody{padding: 1em 0;}
.teamBoy .tyBody  h4{display: block;font-weight: 600;font-family: monospace;font-size: 1.5em;height: 75px;}
.teamBoy .tyBody h4>small{display:block;font-size: 0.75em;color: #540890;margin: 0.5em 0;}
.teamBoy .tyBody .popBtn{
    background: #0062cc;
    color: #fff;
    display: block;
    padding: 1em;
    margin-top: 1.5em;
    text-decoration: none;
    transition:.2s
}
.teamBoy .tyBody .popBtn:hover{
    background: #054a94;
}
#ssModal{}
#ssModal .modal-header{
    background: #519d67;
    color: #fff;
}
#ssModal .close{
    color:#fff;
}
#ssModal .modal-title{}
#ssModal .modal-body{
    padding: 2em 1em;
}
#ssModal .modal-body p{display:flex;margin-bottom:1em}
#ssModal .modal-body p:last-child{margin-bottom:0}
#ssModal .modal-body p label{margin:0; font-weight:bold; width:100px;}
#ssModal .modal-body p span{}
#ssModal .modal-footer{background:#519d67;text-align:center;display: block;}
#ssModal .modal-footer h4{color:#fff; font-size:1em; text-align:center;}
.innerBody .icarTeam h2{
    margin-bottom: .5em;;
}
.innerBody .icarTeam p span{
    display: block;
    font-size:1.25em;
    padding: 0.5em 0;
}
.innerBody .icarAbout {
    padding: 3em 0;
}
.innerBody .icarContact{
    padding: 3em 0;
}
.innerBody .icarContact h3{
    margin-bottom: 1em
}
.innerBody .icarContact .contDetails{}
.innerBody .icarContact .contDetails article{
    padding: 1em;
    border: 1px solid #ccc;
}
.innerBody .icarContact .contDetails h4{}
.innerBody .icarContact .contDetails p{
    margin: 1em 0;
    text-align: center;
}
.innerBody .icarContact .contDetails article p{
    text-align:left;
}
.innerBody .icarFaq {
    padding: 3em 0;
}
.innerBody .icarFaq h3{
    margin-bottom:1em;
}
.innerBody .icarFaq #accordion{
    
}
.innerBody .icarFaq #accordion .card{
    
border-radius: 0;
}
.innerBody .icarFaq #accordion .card .card-body{
    
}
.innerBody .icarFaq #accordion .card .card-header{
    
padding: .25em 1em;
    
background: #21a147;
    
border-radius: 0;
    
border: 1px solid #21a147;
}
.innerBody .icarFaq #accordion .card .card-header h5{
    
padding: 0;
    
color: #fff;
}
.innerBody .icarFaq #accordion .card .card-header h5 button{
    color:#fff;
    text-decoration:none
}
.innerBody .icarphGallery{padding: 3em 0;}
.innerBody .icarphGallery .photoBox{display: block;height: 200px; margin-bottom: 1.5em;}
.innerBody .icarphGallery .photoBox img{width: 100%; height: 100%; object-fit: cover;}
.innerBody .icarVdGallery{
    padding:3em 0;
}
.innerBody .icarVdGallery .vidBox{
    margin-bottom: 1.5em;
    border:1px solid #ccc;
    box-shadow:0 3px 3px rgba(0,0,0,0.3);
    border-radius:1.5em;
    overflow:hidden;
    min-height:250px;
    display: block;
}
.innerBody .icarVdGallery .vidBox iframe{
    transform:scale(1.5)
}
.innerBody .icarAbout .aboutImg {}

.innerBody .icarAbout .aboutImg img {
    width: 100%;
    margin-bottom: .5em;
    border: 7px double #ccc;
}

.innerBody .icarAbout .aboutImg p {}

.innerBody .icarAbout .aboutInfo {}

.innerBody .icarAbout .aboutInfo h3 {
    margin-bottom: .5em
}

.innerBody .icarAbout .aboutInfo p {
    margin-bottom: 1em;
}

.headLines {
    background: #f1f1f1;
    position: relative
}

.headLines .newsHd {
    background: #b30909;
    padding: .75em;
    color: #fff;
    width: 200px;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 1.25em;
    z-index: 2;
    border-left: 10px solid #cf1818;
}

.headLines .newsHd:after {
    position: absolute;
    height: 100%;
    width: 50px;
    content: '';
    top: 0;
    right: -1em;
    bottom: 0;
    left: auto;
    background: #b30909;
    z-index: -1;
    transform: skew(-30deg);
}

@media (max-width: 768px) {
    .headLines .newsHd {
        position: static;
        width: 100%;
        border-left: none;
        border-bottom: 3px solid #cf1818;
        padding: 0.5em;
        font-size: 1.5em
    }

    .headLines .newsHd:after {
        display: none
    }
}

.headLines .rollNews {
    position: relative;
    height: 50px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.17);
    background: linear-gradient(to bottom, #e41700 0%,#860000 100%);
}

.headLines .rollNews:after {
    content: '';
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #b30909 99%, #920000 100%);
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
}

.headLines .rollNews marquee {
    line-height: 3em
}

.headLines .rollNews marquee p {
    display: inline-block;
    margin: 0 1.5em;
    position: relative;
    vertical-align: top;
    color:#fff;
}
.headLines .rollNews marquee p a{
    color:#fff;
    text-decoration:none
}

.headLines .rollNews marquee p:after {
    content: url(../img/newFlash.gif);
    position: absolute;
    top: 0;
    left: -2.5em;
    bottom: 0;
    margin: auto;
}

@media (max-width: 768px) {
    .headLines .rollNews::before {
        content: '';
        height: 100%;
        width: 30%;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #f1f1f1 99%, #f1f1f1 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        bottom: 0;
        z-index: 99
    }
}

@media(max-width:576px) {
    .topBar #datetime {
        margin-bottom: .5em
    }

    .topBar .fontSize {
        justify-content: center;
        margin-bottom: .5em;
    }

    .topBar .adminArea {
        margin-bottom: .5em;
    }

    .mainBody .sliderArea .carousel-item {
        height: 250px;
        margin: 1em 0;
        margin-top: 0;
    }

    .nyBox {
        height: 200px;
    }

     .gaBox {
        margin-bottom: 1.5em;
    }

    .lastModify {
        margin: 1em 0
    }

    .miniBox .mbBody {
        min-height: auto;
    }

    .bigBox .bbBody .bbDesc .bbImg {
        width: 100%;
        margin-bottom: 1em;
        margin-right: 0;
        float: none;
    }

    .bigBox .bbBody h3 {
        margin-bottom: .5em;
    }

    .siteLeftNav {
        position: absolute;
        z-index: 99;
        top: -3.5em;
        right: 0;
        text-align: right;
        left: 1em;
        width: 91%
    }

    .siteLeftNav .navbar-nav li {
        background: #333;
        z-index: 9999;
    }

    .siteTopNav .navbar-nav {
        display: block;
        position: absolute;
        z-index: 99;
    }

    .innerBody .innerBanner {
        height: 200px;
    }

    .innerBody .icarAbout .aboutImg {
        margin-bottom: 1.5em
    }

    .innerBody .innerContent {
        padding: 2em 0;
    }
    .headLines .rollNews{
        height:auto;
    }
    .headLines .rollNews::before{
        display:none
    }
    .teamBoy figure {
        height: auto;
            }
            .teamAll h2{
                font-size:1.75em;
                font-weight:500;
            }
            .teamAll .container-fluid {
    background: #519d67;
    padding: 1em;
}
.mainBody .sliderArea .carousel-caption{
    padding:1em
}
.mainBody .sliderArea .carousel-caption h3{
    font-size:2em
}
.innerBody .icarFaq #accordion {
    margin-bottom:1em
}
}